{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
</style>

<div class="text-danger text-center">
    <h1> Home page </h1>

</div>
{% endblock %}
