{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
</style>

<div class="text-center text-success ">
    <h1> Home page </h1>

</div>
{% endblock %}
